<%= form_with(model: point, local: true) do |form| %>
  <div class="row py-2 bg-newrecord">
    <div class="col-12">
      <%= render 'shared/error_messages', object: point %>
    </div>
  </div>

  <div class="field form-group row justify-content-around bg-newrecord py-2 mb-0">
    <%= form.label :name, class: "col-11 col-sm-2 col-lg-1 col-form-label" %>
    <%= form.text_field :name, class: "col-11 col-sm-9 col-lg-10 form-control" %>
  </div>

  <div class="field form-group row justify-content-around bg-newrecord py-2 mb-0">
    <%= form.label :construction_id, class: "col-11 col-sm-2 col-lg-1 col-form-label" %>
    <%= form.collection_select :construction_id, Construction.all.order(:id), :id, :name, { include_blank: "選択してください" }, class: "col-11 col-sm-9 col-lg-10 form-control" %>
  </div>

  <div class="field form-group row justify-content-around bg-newrecord py-2 mb-0 d-flex align-items-center">
    <div class="col-11">
      <%= form.label :release, class: "col-form-label" %>
      <%= form.check_box :release %>
    </div>
  </div>

  <%= form.hidden_field :lng %>
  <%= form.hidden_field :lat %>

  <div class="actions row justify-content-around bg-newrecord py-2 text-center">
    <%= form.submit class: "col-6 btn btn-info" %>
  </div>
<% end %>
<div class="row"><div class="col-12" id="mapview"></div></div>
<script>
  var marker;
  function initMap() {
    var point ={lat: <%= point.lat %>, lng: <%= point.lng %>};
    var map = new google.maps.Map(document.getElementById('mapview'), {
      center: point,
      zoom: 17
    });
    marker = new google.maps.Marker({
      position: point,
      map: map
    });
    map.addListener('click', function(e){
      getClickLatLng(e.latLng, map);
    });
  }
  function getClickLatLng(latlng, map){
    //既存マーカー削除
    marker.setMap(null);
    //マーカー追加
    marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
    //座標の中心をずらす
    map.panTo(latlng);
    //フォームの値を更新※小数第6位までにする！
    $("#point_lat").val(latlng.lat());
    $("#point_lng").val(latlng.lng());
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['G_API_KEY'] %>&callback=initMap" async defer></script>