<%= form_with(model: point, local: true) do |form| %>
  <div class="row py-2 bg-newrecord">
    <div class="col-12">
      <%= render 'shared/error_messages', object: point %>
    </div>
  </div>

  <div class="field row form-group bg-newrecord">
    <%= form.label :name, class: "col-12" %>
    <%= form.text_field :name, class: "col-12 form-control" %>
  </div>

  <div class="field row form-group bg-newrecord">
    <%= form.label :construction_id, class: "col-12" %>
    <%= form.text_field :construction_id, class: "col-12 form-control" %>
  </div>

  <div class="field row form-group bg-newrecord">
    <%= form.label :release, class: "col-12" %>
    <%= form.check_box :release, class: "col-12" %>
  </div>

  <div class="actions row text-center bg-newrecord">
    <%= form.submit class: "btn btn-info col-6" %>
  </div>

  <div class="field">
    <%= form.label :lng %>
    <%= form.text_field :lng %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>
<% end %>
<br>
<div id="mapadmin"></div>
<script>
  var marker
  function initMap() {
    var point ={lat: <%= point.lat %>, lng: <%= point.lng %>};
    var map = new google.maps.Map(document.getElementById('mapadmin'), {
      center: point,
      zoom: 17
    });
    marker = new google.maps.Marker({
      position: point,
      map: map
    });
    map.addListener('click', function(e){
      getClickLatLng(e.latLng, map);
    });
  }
  function getClickLatLng(latlng, map){
    //既存マーカー削除
    marker.setMap(null);
    //マーカー追加
    marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
    //座標の中心をずらす
    map.panTo(latlng);
    //フォームの値を更新※小数第6位までにする！
    $("#point_lat").val(latlng.lat());
    $("#point_lng").val(latlng.lng());
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['G_API_KEY'] %>&callback=initMap" async defer></script>