<% Construction.all.each do |cons| %>
  <% if cons.points.find_by(release: true) %>
    <div class="row">
      <div class="col-12 visitor-construction">
        <%= cons.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 pl-0 pr-0 pr-md-2">
        <% cons.points.where(release: true).limit(turning_point(cons)).each do |point| %>
          <%= link_to(point) do %><div class="btn-point"><%= point.name %></div><% end %>
        <% end %>
      </div>
      <div class="col-12 col-md-6 pl-0 pr-0 pr-md-2">
        <% cons.points.where(release: true).offset(turning_point(cons)).each do |point| %>
          <%= link_to(point) do %><div class="btn-point"><%= point.name %></div><% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>