<% Construction.all.each do |cons| %>
  <div class="row general-table-format general-table-format-height mt-4 mt-md-5">
    <div class="offset-1 col-11 d-flex align-items-center"><%= cons.name %></div>
  </div>
  <% if cons.points.empty? %>
    <div>この工事には地点登録がありません</div>
  <% else %>
    <div id="points-container-<%= cons.id %>">
    <% cons.points.each do |point| %>
      <div class="row">
        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-3 d-flex align-items-center pb-1 pt-2 pt-sm-1">
          <% if point.release %>
            <span class="badge badge-pill badge-release">公　開</span>
          <% else %>
            <span class="badge badge-pill badge-private">非公開</span>
          <% end %>
        </div>
        <div class="col-9 col-sm-6 col-md-7 col-lg-7 col-xl-6 d-flex align-items-center pb-1 pt-2 pt-sm-1">
          <%= point.name %>
        </div>
        <div class="col-12 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex align-items-center pb-2 pb-sm-1 pt-1">
          <%= link_to(point) do %><div class="btn btn-outline-primary btn-sm">詳細</div><% end %>
          <%= link_to(edit_point_path(point)) do %><div class="btn btn-outline-info btn-sm mx-4 mx-sm-2">変更</div><% end %>

          <div>
            <div class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete-conf<%= point.id %>">削除</div>
          </div>
          <div class="modal fade" id="delete-conf<%= point.id %>">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body text-center">
                  本当に削除しますか？。<br>
                  <%= link_to(point, method: :delete) do %><div class="btn btn-outline-danger btn-sm m-2">は　い</div><% end %>
                  <div class="btn btn-outline-danger btn-sm m-2" data-dismiss="modal">いいえ</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>