<div class="point-show">
  <div class="row">
    <div class="col-12 col-xl-6" id="point_name_range"><%= @point.name %></div>
    <div class="col-12 col-xl-6 d-flex align-items-end"><%= @point.construction.name %></div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 d-flex align-items-end mt-0 mt-sm-2 nobr">
      地図が表示されない場合は<%= link_to "こちら", point_url(@point.lng, @point.lat), target: "_blank" %>
    </div>
    <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9 d-flex align-items-center mt-2">
      <% if signed_in? %>
        <% if @point.release %>
          <span class="badge badge-pill badge-release">公　開</span>
        <% else %>
          <span class="badge badge-pill badge-private">非公開</span>
        <% end %>
        <%= link_to "変更", edit_point_path(@point), class: "btn btn-outline-info btn-sm mx-2" %>
      <% end %>
      <%= link_to "一覧へ戻る", points_path, class: "btn btn-outline-dark btn-sm" %>
    </div>
  </div>
</div>
<div class="row"><div class="col-12" id="mapview"></div></div>
<script>
  var marker;
  function initMap() {
    /* 地図センターの座標 */
    var point ={lat: <%= @point.lat %>, lng: <%= @point.lng %>};

    /* 地図を起こす */
    var map = new google.maps.Map(document.getElementById('mapview'), {
      center: point,
      zoom: 17
    });

    /* マーカーを起こす */
    marker = new google.maps.Marker({
      position: point,
      map: map
    });

    /* インフォウインドウの内容 */
    var contentString = '<div><%= @point.name %></div>';

    /* インフォウインドウインスタンスを生成 */
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    /* インフォウインドウを起こす(初期) */
    setTimeout(function(){infowindow.open(map, marker);}, 1000);

    /* インフォウインドウを起こす(再表示用) */
    marker.addListener('click', function(){
      infowindow.open(map, marker);
    });    
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['G_API_KEY'] %>&callback=initMap" async defer></script>