<div class="point-show">
  <div class="row">
    <div class="col-12 col-xl-6" id="point_name_range"><%= @point.name %></div>
    <div class="col-12 col-xl-6 d-flex align-items-end"><%= @point.construction.name %></div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 d-flex align-items-end mt-0 mt-sm-2 nobr">
      地図が表示されない場合は<%= link_to "こちら", point_url(@point.lng, @point.lat), target: "_blank" %>
    </div>
    <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9 d-flex align-items-center mt-2">
      <% if signed_in? %>
        <% if @point.release %>
          <span class="badge badge-pill badge-release">公　開</span>
        <% else %>
          <span class="badge badge-pill badge-private">非公開</span>
        <% end %>
        <%= link_to "変更", edit_point_path(@point), class: "btn btn-outline-info btn-sm mx-2" %>
      <% end %>
      <%= link_to "一覧へ戻る", points_path, class: "btn btn-outline-dark btn-sm" %>
    </div>
  </div>
</div>
<div class="row"><div class="col-12" id="mapview"></div></div>
<script>
  function initMap() {
    //地図センターの座標
    var point ={lat: <%= @point.lat %>, lng: <%= @point.lng %>};

    //地図を起こす
    var map = new google.maps.Map(document.getElementById('mapview'), {
      center: point,
      zoom: 17
    });

    //マーカーを起こす
    var marker = new google.maps.Marker({
      position: point,
      map: map
    });

    //インフォウインドウインスタンスを生成
    var infoWindow = new google.maps.InfoWindow({
      content: '<div><%= @point.name %></div>'
    });

    //インフォウインドウを起こす(初期)
    infoWindow.open(map, marker);

    //インフォウインドウを起こす(再表示用)
    marker.addListener('click', function(){
      infoWindow.open(map, marker);
    });


    /*地図中心が思い通り（@point.lat,@point.lng）にならない
    //同一工事の地点のマーカーも立てる
    <% @points.each do |genba| %>
      //マーカーを起こす@pointだけ赤色その他は緑色
      <% if genba.name != @point.name %>
        var marker<%= genba.id %> = new google.maps.Marker({
          position: {lat: <%= genba.lat %>, lng: <%= genba.lng %>},
          map: map,
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        });
      <% else %>
        var marker<%= genba.id %> = new google.maps.Marker({
          position: {lat: <%= genba.lat %>, lng: <%= genba.lng %>},
          map: map
        });
      <% end %>

      //インフォウインドウインスタンスを生成
      var infoWindow<%= genba.id %> = new google.maps.InfoWindow({
        content: '<div><%= genba.name %></div>'
      });

      //インフォウインドウを起こす(初期)
      infoWindow<%= genba.id %>.open(map, marker<%= genba.id %>);

      //インフォウインドウを起こす(再表示用)
      marker<%= genba.id %>.addListener('click', function(){
        infoWindow<%= genba.id %>.open(map, marker<%= genba.id %>);
      });

    <% end %>

    //座標の中心をずらす
    setTimeout(function() {map.panTo({lat: <%= @point.lat %>, lng: <%= @point.lng %>});}, 1000);
    */
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['G_API_KEY'] %>&callback=initMap" async defer></script>