<div class="row">
  <h1 class="headline col-12 rounded">ユーザー</h1>
  <%= link_to "新規作成", new_user_registration_path, class: "btn-lg btn-primary create_model" %>
</div>
<% @users.each do |user| %>
  <div class="row general-table-format d-flex align-items-center">
    <div class="col-9 col-sm-10"><%= user.email %></div>
    <% unless user.admin %>
      <div class="col-3 col-sm-2">

        <div class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete-conf<%= user.id %>">削除</div>
        <div class="modal fade" id="delete-conf<%= user.id %>">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body text-center">
                本当に削除しますか？。<br>
                <%= link_to(user, method: :delete) do %><div class="btn btn-outline-danger btn-sm m-2">は　い</div><% end %>
                <div class="btn btn-outline-danger btn-sm m-2" data-dismiss="modal">いいえ</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
<% end %>