<div class="row"><h1 class="headline col-12 rounded">工事名</h1></div>

<%= form_with(model: @construction, local: true) do |form| %>
  <div class="row bg-newrecord py-2">
    <div class="col-12">
      <%= render 'shared/error_messages', object: @construction %>
    </div>
  </div>

  <div class="field row justify-content-around bg-newrecord py-2">
    <%= form.label :name, class: "col-3 col-sm-2 text-right" %>
    <%= form.text_field :name, class: "form-control col-8 col-sm-9" %>
  </div>

  <div class="actions row justify-content-around bg-newrecord py-2">
    <%= form.submit '新規工事名登録', class: "col-6 col-sm-3 btn btn-primary" %>
  </div>
<% end %>

<% @constructions.each do |construction| %>
  <div id="<%= construction.id %>">
    <%= form_with(model: construction) do |form| %>
      <div class="row general-table-format d-flex align-items-center">
        <div class="col-12 col-md-5 col-lg-5 py-2"><%= construction.name %></div>
        <div class="col-7 col-sm-8 col-md-4 col-lg-5 field py-2 pl-2 pl-md-0 pr-1"><%= form.text_field :name, class: "form-control" %></div>
        <div class="col-5 col-sm-4 col-md-3 col-lg-2 actions py-2 pl-0 pr-3 text-right">
          <%= form.submit '変更', class: "btn btn-outline-info btn-sm" %>

          <div class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#delete-conf<%= construction.id %>">削除</div>
          <div class="modal fade" id="delete-conf<%= construction.id %>">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body text-center">
                  本当に削除しますか？。<%= construction.name %>に紐づけられている地点情報も同時に削除されます。<br>
                  <%= link_to(construction, method: :delete) do %><div class="btn btn-outline-danger btn-sm m-2">は　い</div><% end %>
                  <div class="btn btn-outline-danger btn-sm m-2" data-dismiss="modal">いいえ</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @constructions.empty? %>
  <div class="row mt-3">現在登録されている工事はありません</div>
<% end %>