<h1>工事名</h1>

<%= form_with(model: @construction, local: true) do |form| %>
  <% if @construction.errors.any? %>
      <ul>
      <% @construction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>工事名</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @constructions.each do |construction| %>
      <tr>
        <td><%= construction.name %></td>
        <td><%= link_to '変更', edit_construction_path(construction) %></td>
        <td><%= link_to '削除', construction, method: :delete, data: { confirm: 'ほんとに削除していい?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>