<!DOCTYPE html>
<html>
  <head>
    <title>RiverStoneApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shiv' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container mb-3">
      <div class="row">
        <% flash.each do |key, value| %>
          <div class="col-12 alert <%= bootstrap_class_for(key) %> flash_msg mb-0 mt-2"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
